<!DOCTYPE html>
<html lang="es" ng-app="mti">
  <head>
  	<meta charset="UTF-8">
  	<meta name="application-name" 			content="Multrasportes Internacionales Website">
  	<meta name="author" 								content="Skypunch developers">
  	<meta name="description" 						content="Bajo los objetivos de cumplir y satisfacer las necesidades que actualmente demanda el mercado del Comercio Internacional, en mayo de 2002 se crea Multitransportes Internacionales S.A. de C.V. con más de 25 años de experiencia, actualmente somos líderes especialistas en el manejo de carga internacional en las modalidades Aérea, Terrestre y Marítima hacia Centro, Sudamérica, Estados Unidos, Europa y Asia, así como en requerimientos aduanales de importación, exportación y manejo de Ferias y Exposiciones Internacionales para la industria empresarial.">
  	<meta name="viewport" 							content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" 	content="IE=edge">
  	<meta property="og:url"         		content="http://www.mtinter.com.mx/" />
  	<meta property="og:type"        		content="website" />
  	<meta property="og:title"       		content="Multitransportes Internacionales S.A. de C.V." />
  	<meta property="og:description" 		content="Bajo los objetivos de cumplir y satisfacer las necesidades que actualmente demanda el mercado del Comercio Internacional, en mayo de 2002 se crea Multitransportes Internacionales S.A. de C.V. con más de 25 años de experiencia, actualmente somos líderes especialistas en el manejo de carga internacional en las modalidades Aérea, Terrestre y Marítima hacia Centro, Sudamérica, Estados Unidos, Europa y Asia, así como en requerimientos aduanales de importación, exportación y manejo de Ferias y Exposiciones Internacionales para la industria empresarial." />
  	<meta property="og:image"       		content="http://www.mtinter.com.mx/assets/media/mti4.png" />
  	<meta property="og:site_name"       content="Multitransportes Internacionales Website" />
  	<title>Multitransportes Internacionales</title>
  	<link rel="icon" href="assets/media/favicon.ico">
  	<link rel="apple-touch-icon" sizes="76x76" href="assets/media/apple-icon-76x76.png">
  	<link rel="apple-touch-icon" sizes="180x180" href="assets/media/apple-icon-180x180.png">
  	<link rel="icon" type="image/png" sizes="192x192"  href="assets/media/android-icon-192x192.png">
  	<link rel="icon" type="image/png" sizes="96x96" href="assets/media/favicon-96x96.png">
  	<link rel="manifest" href="assets/media/manifest.json">
  	<meta name="msapplication-TileColor" content="#FFB61E">
  	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  	<meta name="theme-color" content="#FFB61E">

    <link rel="stylesheet" href="assets/css/mti.css" media="screen" title="mti" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body ng-controller="appController as app" class="grey-darken fadeIn duration-1">
    <!-- contenedor de imagen y gradiente para slider -->
    <div id="image-gradient" class="animated" data-animation-load="fadeIn duration-1">
      <!-- gradiente -->
      <div class="gradient fadeIn duration-2"></div>
      <!-- imagen de slider -->
      <img id="dinamic-image" ng-src="assets/media/{{slide.img}}" alt="" class="animated" data-animation-in="slideInRight" data-animation-out="">
    </div>
    <header class="animated basic duration-2 sticky" id="header">
      <!-- navbar -->
      <nav id="navbar" class="animated fadeInDown duration-1">
        <ul class="white-text">
          <li class="active important-text">
            <a href="#/" id="logo">
              <img src="assets/media/mti_horizontal_color.svg" alt="mti-logo"/>
            </a>
          </li>
          <li class="important-text" ng-repeat="element in site.menu[site.languaje.current]" data-actives="{{element.submenu}}" ng-class="{ 'dropdown-submenu': element.submenu }">
            <a ng-if="!element.submenu" href="#/{{element.path}}" class="simple white-text">
              {{element.text}}
            </a>
            <a href="" ng-if="element.submenu" class="simple white-text">
              {{element.text}}
            </a>
          </li>
          <li class="important-text hint--bottom-left hint--bounce" data-hint="{{site.languaje.next}}" ng-click="site.languaje.change()">
            <i class="fa fa-globe fa-fw"></i>&nbsp;{{site.languaje.current | limitTo:2 }}
          </li>
          <li class="important-text" id="toTop" ng-click="page.toTop()">
            <i class="fa fa-arrow-up"></i>
          </li>
        </ul>
      </nav>
      <!-- mobile navbar -->
      <nav class="navbar navbar-inverse scroll y animated fadeInDown duration-1" id="mobile-navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#/" id="logo-mobile">
              <img src="assets/media/mti_horizontal_color.svg" alt="mti-logo"/>
            </a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ng-click="site.languaje.change()">
                <a href="" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <i class="fa fa-globe fa-fw"></i>&nbsp;{{site.languaje.current}}&nbsp;<i class="fa fa-arrow-right fa-fw"></i>&nbsp;{{site.languaje.next}}
                </a>
              </li>
              <li class="" ng-repeat="element in site.menu[site.languaje.current]" ng-class="{ 'dropdown': element.submenu }">
                <a ng-if="element.submenu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  {{element.text}} <span class="caret"></span>
                </a>
                  <ul class="dropdown-menu" ng-repeat="submenu in site.submenus" ng-if="submenu.name===element.submenu">
                    <li ng-repeat="subelement in submenu.languaje[site.languaje.current]">
                      <a href="#/{{subelement.path}}" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <i class="fa fa-{{subelement.icon}} fa-fw fa-flip-horizontal"></i>&nbsp;
                        {{subelement.text}}
                      </a>
                    </li>
                  </ul>
                <a href="#/{{element.path}}" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" ng-if="!element.submenu">
                  {{element.text}}
                </a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <!-- desplegables -->
      <footer class="white-text" id="sub-navbar">
        <ul ng-if="site.submenus" ng-repeat="submenu in site.submenus" id="{{submenu.name}}" data-background="black" data-animation-in="fadeInDown duration-500ms" data-animation-out="fadeOutUp duration-500ms">
          <li ng-repeat="element in submenu.languaje[site.languaje.current]">
            <a href="#/{{element.path}}" class="link">
              <i class="fa fa-{{element.icon}} fa-fw fa-flip-horizontal"></i>&nbsp;
              {{element.text}}
            </a>
          </li>
        </ul>
      </footer>
    </header>
    <!-- Carga de dinamica de contenido -->
    <main id="MainFrame" class="scroll y animated slideInDown delay-1 duration-1" ng-view></main>
  
  </body>
  <script type="text/javascript" src="assets/js/angular-basics.js"></script>
  <script type="text/javascript" src="app/data.js"></script>
  <script type="text/javascript" src="app/controllers.js"></script>
  <script type="text/javascript" src="app/app.js"></script>
  <!-- CDN JQuery y bootstrap -->
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</html>
<!-- elementos de angular-basics
<script type="text/javascript" src="assets/js/angular.min.js"></script>
<script type="text/javascript" src="assets/js/angular-locale_es-mx.js"></script>
<script type="text/javascript" src="assets/js/angular-route.min.js"></script>
<script type="text/javascript" src="assets/js/angular-animate.min.js"></script>
-->
