.hidden{display:none;}
.visible{display: block !important;}
/*scrollbar for chrome*/
.scroll.y{
  overflow-y: auto;
}
.scroll.x{
  overflow-x: auto;
}
.scroll::-webkit-scrollbar {
    width: 4px;
    background-color: white;
}
.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0);
}
.scroll::-webkit-scrollbar-track-piece {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0);
}
.scroll::-webkit-scrollbar-thumb {
  background-color:rgba(0, 0, 0, 0.5);;
  outline:none;
}
/*indexes*/
.index-0{z-index:initial;}
.index-1{z-index:1;}
.index-2{z-index:2;}
.index-3{z-index:3;}
.index-4{z-index:4;}
.index-5{z-index:5;}
.index-6{z-index:6;}
.index-7{z-index:7;}
.index-8{z-index:8;}
.index-9{z-index:9;}
.index-10{z-index:10;}
.index-11{z-index:11;}
/*css typing*/
.typing{margin: 10px 0 0 10px;white-space: nowrap;overflow: hidden;width: 5.5em;animation: type 2.5s steps(60, end);}
.typing:nth-child(2){animation: type2 5s steps(60, end);}
.typing a{text-decoration: none;}
span.pipe{animation:blink 1s infinite;}
@keyframes type{from{width:0;}}
@keyframes type2{0%{width:0;}50%{width:0;}100%{width:100;}}
@keyframes blink{to{opacity: .0;}}
::selection{background: black;}
/*flex rules*/
.flexible{display:flex;}
.flexible.horizontal{flex-direction:row;}
.flexible.horizontal-reverse{flex-direction:row-reverse;}
.flexible.vertical{flex-direction:column;}
.flexible.vertical-reverse{flex-direction:column-reverse;}
.flexible.wrap-on{flex-wrap:wrap;}
.flexible.wrap-on-reverse{flex-wrap:wrap-reverse;}
.flexible.wrap-off{flex-wrap:nowrap;}
.flexible.on-start{justify-content:flex-start;}
.flexible.on-end{justify-content:flex-end;}
.flexible.is-centered{justify-content:center;}
.flexible.is-spaced{justify-content:space-between;}
.flexible.is-balanced{justify-content:space-around;}
.flexible.align-start{align-items:flex-start;}
.flexible.align-end{align-items:flex-end;}
.flexible.align-center{align-items:center}
.flexible.align-spaced{align-items:space-between;}
.flexible.align-balanced{align-items:space-around;}
.flexible.align-stretch{align-items:stretch;}
.flexible.content-end{align-content:flex-end;}
.flexible.content-center{align-content:center;}
.flexible.content-spaced{align-content:space-between;}
.flexible.content-balanced{align-content:space-around;}
.flexible.content-stretch{align-content:stretch;}
.item{flex-grow:1;order:1;}
.item.align-start{align-self:flex-start;}
.item.align-end{align-self:flex-end;}
.item.align-center{align-self:center}
.item.align-stretch{align-self:stretch}
.item.align-spaced{align-self:space-between;}
.item.align-balanced{align-self:space-around;}
.item.order--10{order:-10 !important;}
.item.order--9{order:-9 !important;}
.item.order--8{order:-8 !important;}
.item.order--7{order:-7 !important;}
.item.order--6{order:-6 !important;}
.item.order--5{order:-5 !important;}
.item.order--4{order:-4 !important;}
.item.order--3{order:-3 !important;}
.item.order--2{order:-2 !important;}
.item.order--1{order:-1 !important;}
.item.order-0{order:0 !important;}
.item.order-10{order:10 !important;}
.item.order-9{order:9 !important;}
.item.order-8{order:8 !important;}
.item.order-7{order:7 !important;}
.item.order-6{order:6 !important;}
.item.order-5{order:5 !important;}
.item.order-4{order:4 !important;}
.item.order-3{order:3 !important;}
.item.order-2{order:2 !important;}
.item.order-1{order:1 !important;}
.item.grow-12{flex-grow:12 !important;}
.item.grow-11{flex-grow:11 !important;}
.item.grow-10{flex-grow:10 !important;}
.item.grow-9{flex-grow:9 !important;}
.item.grow-8{flex-grow:8 !important;}
.item.grow-7{flex-grow:7 !important;}
.item.grow-6{flex-grow:6 !important;}
.item.grow-5{flex-grow:5 !important;}
.item.grow-4{flex-grow:4 !important;}
.item.grow-3{flex-grow:3 !important;}
.item.grow-2{flex-grow:2 !important;}
.item.grow-1{flex-grow:1 !important;}
.item(.tiny-12,.small-12,.medium-12,.big-12){flex-grow:12;}
.item(.tiny-11,.small-11,.medium-11,.big-11){flex-grow:11;}
.item(.tiny-10,.small-10,.medium-10,.big-10){flex-grow:10;}
.item(.tiny-9,.small-9,.medium-9,.big-9){flex-grow:9;}
.item(.tiny-8,.small-8,.medium-8,.big-8){flex-grow:8;}
.item(.tiny-7,.small-7,.medium-7,.big-7){flex-grow:7;}
.item(.tiny-6,.small-6,.medium-6,.big-6){flex-grow:6;}
.item(.tiny-5,.small-5,.medium-5,.big-5){flex-grow:5;}
.item(.tiny-4,.small-4,.medium-4,.big-4){flex-grow:4;}
.item(.tiny-3,.small-3,.medium-3,.big-3){flex-grow:3;}
.item(.tiny-2,.small-2,.medium-2,.big-2){flex-grow:2;}
.item(.tiny-1,.small-1,.medium-1,.big-1){flex-grow:1;}
/*    MediaQueries     */
@media screen and (max-width:320px) {
  .item.tiny-12{flex-grow:12 !important;}
  .item.tiny-11{flex-grow:11 !important;}
  .item.tiny-10{flex-grow:10 !important;}
  .item.tiny-9{flex-grow:9 !important;}
  .item.tiny-8{flex-grow:8 !important;}
  .item.tiny-7{flex-grow:7 !important;}
  .item.tiny-6{flex-grow:6 !important;}
  .item.tiny-5{flex-grow:5 !important;}
  .item.tiny-4{flex-grow:4 !important;}
  .item.tiny-3{flex-grow:3 !important;}
  .item.tiny-2{flex-grow:2 !important;}
  .item.tiny-1{flex-grow:1 !important;}
  .hide-on-tiny,.hide-on-small-and-down,.hide-on-medium-and-down{
    display: none !important;
  }
}
@media screen and (min-width:321px) and (max-width:767px) {
  .item.small-12{flex-grow:12 !important;}
  .item.small-11{flex-grow:11 !important;}
  .item.small-10{flex-grow:10 !important;}
  .item.small-9{flex-grow:9 !important;}
  .item.small-8{flex-grow:8 !important;}
  .item.small-7{flex-grow:7 !important;}
  .item.small-6{flex-grow:6 !important;}
  .item.small-5{flex-grow:5 !important;}
  .item.small-4{flex-grow:4 !important;}
  .item.small-3{flex-grow:3 !important;}
  .item.small-2{flex-grow:2 !important;}
  .item.small-1{flex-grow:1 !important;}
  .hide-on-small,.hide-on-small-and-down,.hide-on-medium-and-down,.only-on-tiny,.only-on-big,.only-on-medium{
    display: none !important;
  }
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .item.medium-12{flex-grow:12 !important;}
  .item.medium-11{flex-grow:11 !important;}
  .item.medium-10{flex-grow:10 !important;}
  .item.medium-9{flex-grow:9 !important;}
  .item.medium-8{flex-grow:8 !important;}
  .item.medium-7{flex-grow:7 !important;}
  .item.medium-6{flex-grow:6 !important;}
  .item.medium-5{flex-grow:5 !important;}
  .item.medium-4{flex-grow:4 !important;}
  .item.medium-3{flex-grow:3 !important;}
  .item.medium-2{flex-grow:2 !important;}
  .item.medium-1{flex-grow:1 !important;}
  .hide-on-medium,.hide-on-medium-and-down,.hide-on-medium-and-up,.only-on-small,.only-on-big,.only-on-small-and-down{
    display: none !important;
  }
}
@media screen and (min-width:1024px) {
  .item.big-12{flex-grow:12 !important;}
  .item.big-11{flex-grow:11 !important;}
  .item.big-10{flex-grow:10 !important;}
  .item.big-9{flex-grow:9 !important;}
  .item.big-8{flex-grow:8 !important;}
  .item.big-7{flex-grow:7 !important;}
  .item.big-6{flex-grow:6 !important;}
  .item.big-5{flex-grow:5 !important;}
  .item.big-4{flex-grow:4 !important;}
  .item.big-3{flex-grow:3 !important;}
  .item.big-2{flex-grow:2 !important;}
  .item.big-1{flex-grow:1 !important;}
  .hide-on-big,.only-on-tiny,.only-on-small,.only-on-medium,.only-on-small-and-down,.hide-on-medium-and-up{
    display: none !important;
  }
}
/* Animation */
.animated.delay-1{
  animation-delay: 1s !important;
}
.animated.delay-2{
  animation-delay: 2s !important;
}
.animated.delay-3{
  animation-delay: 3s !important;
}
.animated.delay-4{
  animation-delay: 4s !important;
}
.animated.delay-5{
  animation-delay: 15 !important;
}
.animated.duration-500ms{
  animation-duration: 0.5s !important;
}
.animated.duration-1{
  animation-duration: 1s !important;
}
.animated.duration-2{
  animation-duration: 2s !important;
}
.animated.duration-3{
  animation-duration: 3s !important;
}
.animated.duration-4{
  animation-duration: 4s !important;
}
.animated.duration-5{
  animation-duration: 5s !important;
}
.animated.basic{
  transition-property:all;
  transition-timing-function:ease-in-out;
}

.tooltip:hover {
    text-decoration: none;
}
