/*Importando otro archivos css*/
@import url(https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css);
@import url(https://bootflat.github.io/bootflat/css/bootflat.css);
@import "layout.css";
@import "normalize.css";
@import "animate.min.css";
@import "hint.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat);
/*definicion de fuentes mti*/
@font-face {
  font-family: 'NewHelvetica';
  src: url('../fonts/HelveticaNeueLTStd-Roman.otf');
}
p,ul,li,dt,dd,dl,blockquote,span,b,small,form,input,textarea,label,[data-hint]:after{
  font-family: 'NewHelvetica' !important;
}
/*titulos centrados, en mayuscula y con fuente delgada*/
h1,h2,h3,h4,h5,h6,.title,.subtitle,.important-text,.blippo{
  text-align: center;
  text-transform:uppercase;
  font-weight: bold;
  font-family: 'Montserrat' !important;
}

/*textos responsive viewport como unidad de medida*/
h1,.title{
  font-size: 3.5vw;
  margin: 0.7vw 0;
}
h2{
  font-size: 2.5vw;
}
h3{
  font-size: 2vw;
}
h4,.subtitle{
  font-size: 1.5vw;
}
h5{
  font-size: 1.1vw;
}
h6,.important-text{
  font-size: 1vw;
}
.important-text i{
  font-size: 1.4vw !important;
}

p,blockquote {
  font-size: 2.5vmin;
  text-align: justify;
  text-justify: inter-word;
  padding: 10px;
}
blockquote{
  box-shadow:inset 4px 0px 0px 0px rgba(255, 182, 30, 1);
}
li a{
  position:relative;
  width: 100%;
  height: 100%;
  color: white;
}
li a.simple::after,li a.simple::before{
  content:none;
  max-width:0px;
  max-height:0px;
  display:none !important;
}
li a.simple:link,li a.simple:visited,li a.simple:hover,li a.simple:active{
  color: white !important;
  cursor:pointer !important;
}
/*html body main y #image-gradient ocupan toda la ventana*/
html,body,main,#image-gradient{width:100%;height:100%;position:absolute;margin:0;padding:0;}
/*acultando scroll para html y body*/
html,body{overflow:hidden;}
/*elementos contenedores semanticos*/
section,article,aside,#footer{
  min-width: 100%;
  padding: 8px 0px;
  margin: 0 !important;
}
section,article{
  background-color: #DDDDDD;
}
/*definicion de div contenedor del textos para slider*/
#slider-text{
  min-width: 100%;
}
#slider-text h2{
  margin: 0;
}
#slider-logo{
  max-width: 40vh;
  max-height: 40vh;
  margin: 0;
  padding: 0;
}
#slider-logo img{
  max-width: 40vh;
  max-height: 40vh;
}
#slider-slogan{
  font-size: 3vw;
}
#slider-slogan small{
  font-size: 2vw;
}
/*---------------------grediente--------------------*/
/*div contenedor de gradiente e imagen*/
#image-gradient{
  display: flex;
  align-items: center;
  z-index: initial !important;
}
/*div que aplica el gradiente a la imagen*/
#image-gradient div.gradient{
  position: fixed;
  top: 0;
  min-width: 100% !important;
  min-height: 100% !important;
  z-index: 1 !important;
  background: linear-gradient(135deg, rgba(235,160,0,0) 20%,rgba(235,160,0,0.6) 20%,rgba(235,160,0,0.6) 25%,rgba(235,160,0,0.9) 25%,rgba(235,160,0,0.9) 33%,rgba(235,160,0,0.8) 33%,rgba(235,160,0,0.8) 68%,rgba(235,160,0,0.7) 68%,rgba(235,160,0,0.7) 76%,rgba(235,160,0,0.6) 76%,rgba(235,160,0,0.6) 80%,rgba(235,160,0,0) 80%);
}
/*imagen a escala de grises*/
#image-gradient img{
  position: fixed;
  top: 0;
  z-index: initial !important;
  min-height: 100%;
  width: 100%;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}
/*elemento principal en el nivel 10 de visibilidad*/
main{
  z-index: 10;
}
/* nivel de visibilidad de header y navbar*/
#header{
  z-index: 15 !important;
  position: fixed;
  top:0;
  width: 100%;
}
/*    MediaQueries     */
@media screen and (max-height:469px) {
   #slider-text{
     height: 50%;
     margin-top: 95px !important;
   }

}
@media screen and (min-height:470px) and (max-height:575px) {
   #slider-text{
     height: 60%;
     margin-top: 125px !important;
   }
}
@media screen and (min-height:576px) {
   #slider-text{
     height: 73%;
     margin-top: 155px !important;
   }

}
@media screen and (max-width:767px) {
  header#header{
    max-height: 100%;
  }

  header header ul,header nav#navbar ul,header footer ul{
    width: 100% !important;
  }
  nav#navbar{
    display: none !important;
  }
  nav#mobile-navbar{
    width: 100% !important;
  }
  /*textos responsive viewport como unidad de medida*/
  h1,.title{
    font-size: 6vw;
  }
  h2{
    font-size: 5vw;
  }
  h3{
    font-size: 4vw;
  }
  h4,.subtitle{
    font-size: 3.5vw;
  }
  h5{
    font-size: 3.1vw;
  }
  h6,.important-text{
    font-size: 2.9vw;
  }
  .important-text i{
    font-size: 3.4vw !important;
  }

  p,blockquote {
    font-size: 3.5vmin;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
  }

}
@media screen and (min-width:768px) and (max-width:1023px) {

  header header ul,header nav#navbar ul,header footer ul{
    width: 90% !important;
  }
  nav#mobile-navbar{
    display: none !important;
  }
  /*textos responsive viewport como unidad de medida*/
  h1,.title{
    font-size: 5vw;
  }
  h2{
    font-size: 4vw;
  }
  h3{
    font-size: 3vw;
  }
  h4,.subtitle{
    font-size: 2.5vw;
  }
  h5{
    font-size: 2.1vw;
  }
  h6,.important-text{
    font-size: 1.9vw;
  }
  .important-text i{
    font-size: 2.4vw !important;
  }

  p,blockquote {
    font-size: 3vmin;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
  }

}
@media screen and (min-width:1024px) {

  header header ul,header nav#navbar ul,header footer ul{
    width: 85% !important;
  }
  nav#mobile-navbar{
    display: none !important;
  }

}
header footer ul{
  z-index: -99 !important;
}
/*propiedades de flexbox para header y sus subnodos*/
header,header nav#navbar,header header,header footer{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:center;
  align-content:flex-start;
}
header nav#navbar,header header,header footer{
  width: 100%;
}
nav#mobile-navbar{
  background: none !important;
  border: none !important;
}
header header{
  height: 30px;
  margin-bottom: 10px;
}
header nav#navbar{
  height: 50px;
}
header footer ul{
  height: 45px !important;
  margin-bottom: -45px !important;
  border-radius: 0 0 4px 4px;
}
/*propiedades flexbox para las listas en subnodos de header*/
header header ul,header nav#navbar ul,header footer ul{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-end;
  align-items:space-between;
  align-content:center;
  list-style-type:none;
  position: relative;
  height: 100%;
  width: 85%;
  margin:0;
  padding:0;
  font-weight: bold;
}
/*propiedades flexbox para elementos de lista en subnodos de header*/
header nav#navbar ul li,header nav#navbar ul li a,header header ul li,header header ul li a,header footer ul li,header footer ul li a{
  display:flex !important;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:center;
  align-items:center;
  align-content:center;
  position: relative;
  flex-grow:1;
  order:1;
  cursor: pointer;
}
/* icono cambiante */
nav#navbar ul li#logo{
  max-width:33%;
}
#logo-mobile{
  padding: 8px 15px;
}
#logo-mobile img,#logo img{
  max-width:90%;
  height: 4rem;
  position:relative;
  margin: 0 auto;

}

#logo-mobile:hover img,#logo:hover img{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
.navbar{
  margin: 0 !important;
}
.navbar-toggle{
  background: none !important;
  border:none !important;
  padding: 0;
}
.navbar-toggle i.fa-bars{
  font-size: 40px;
}
ul.dropdown-menu li a,ul.navbar-nav li a{
  font-size: 2rem !important;
  padding: 15px 0px !important;
}
/*propiedades tab para elementos de lista*/
header nav#navbar ul li:hover,header footer ul li:hover{
  box-shadow:inset 0px -4px 0px 0px rgba(255,255,255, 0.3);
  color: rgba(255,255,255, 0.8);
}
header nav#navbar ul li.active,header footer ul li.active{
  box-shadow:inset 0px -4px 0px 0px rgba(255,255,255, 0.8);
}
header.sticky nav#navbar ul li.active{
  box-shadow:inset 0px -4px 0px 0px rgba(255, 182, 30, 1);
}
header.sticky nav#navbar ul li:hover,#footer ul.site-map li:hover ul.elements li.root{
  box-shadow:inset 0px -4px 0px 0px rgba(255, 182, 30, 0.55);
  color: #FFB61E;
}
header nav#navbar ul li.space,header header ul li.space,header footer ul li.space{
  flex-grow:2;
  cursor:auto;
}
header nav#navbar ul li.space:hover{
  box-shadow:none;
}
header nav#mobile-navbar,header nav#mobile-navbar div,header nav#mobile-navbar div div.navbar-header{
  color: white;
}
nav#mobile-navbar .collapse.navbar-collapse{
  background-color: rgba(0, 0, 0, 0.8);
}
/* textos en columnas*/
text-col-3{
  column-count: 3;
  column-gap: 1em;
}
text-col-2{
  column-count: 2;
  column-gap: 1em;
}
ul,ul li{
  list-style: none !important;
  /*text-align: center;*/
}
/*propiedades flexbox para cualquier lista desordenada*/
/*ul,ul li{
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-end;
  align-items:space-between;
  align-content:center;
}
ul li a{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}*/
#slider-controllers,#slider-controllers div{
  width: 100%;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:center;;
  align-items:center;
  align-content:center;
}
#slide-selector{
  min-width: 60%;
  justify-content:space-around !important;
  align-items:center !important;
  align-content:center !important;
}
#slide-selector li{
  height: 100%;
  cursor: pointer;
}
#slide-selector li i.icon,#slide-selector li span i.icon{
  font-size: 2vw;
  color: rgba(0, 0, 0, 0.6);
}
#slide-selector li i.active.icon, #slide-selector li span i.active.icon{
  color: rgba(230, 230, 230, 0.8);
}
#slide-selector li:hover i.icon, #slide-selector li:hover span i.icon {
  color: white;
}
/* header fixed */
header.sticky{
  position:fixed !important;
  top: 0;
  width: 100%;
  background-color: rgba(15, 15, 15, 0.75);
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.65);
}
header nav#navbar ul li#toTop{
  display: none !important;
}
header.sticky nav#navbar ul li#toTop{
  display: flex !important;
}
header.sticky + main{
  padding-top: 50px;
}
header.sticky + main div#slider-text{
  margin-top: 120px !important;
}
header.sticky header{
  display: none !important;
}
#footer{
  padding-top: 0 !important;
  min-height: 50vh;
  background: #333333;
}
#footer ul#social{
  padding: 10px;
  font-size: 1.8rem;
}
#footer ul#social li a{
  color: black;
  padding: 0 10px;
  font-size: 1.8rem !important;
}
#footer ul#social li a i.fa{
  font-size: 2.5rem !important;
}
#footer ul#social li a:hover i{
  color:white;
  cursor: pointer;
}
#footer ul.site-map{
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:flex-start;
  align-content:stretch;
}
#footer ul.site-map li ul.elements{
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:flex-start;
  align-content:center;
}
#footer ul.site-map li ul.elements li{
  padding: 8px 4px;
  color:white;
  cursor: pointer;
}
#footer ul.site-map li.logo{
  padding-top: 20px;
  max-width: 20% !important;
}
#footer ul.site-map li.logo img{
  position: relative;
  max-width: 20vw;
  max-height: 20vh;
}
#footer ul.site-map li ul.elements li:hover{
  color:#FFB61E;
}
#footer ul.site-map li ul.elements li.root{
  padding: 24px 4px 12px 4px;
  font-weight: bold;
  font-size: 1.5rem !important;
}
/*tooltip*/
.hint--bottom-left:focus{
  outline: none !important;
}
/* ================= Paleta de colores Flat ================== */
/* Negro */
.dark-grey-text {
  color: #6C7A89 !important;
}

.dark-grey {
  background-color: #6C7A89 !important;
  color: white;
}

/* Gris */
.grey-text {
  color: #95A5A6 !important;
}

.grey {
  background-color: #95A5A6 !important;
}

/* Amarillo */
.yellow-text,a.link:hover {
  color: #FFB61E !important;
}

.yellow,.main-color {
  background-color: #FFB61E !important;
}

/* Cian */
.cyan-text-text {
  color: #4D8FAC !important;
}

.cyan,.enhance-color {
  background-color: #4D8FAC !important;
  color: white;
}

.white{
  background-color: white;
}
.black{
  background-color: black;
  color:white;
}
.white-text,a.link{
  color: white;
}
.black-text{
  color: black;
}
.grey-darken{
  background-color: #333333 !important;
}
.grey-darken-text{
  color: #333333 !important;
}
.upper-text{
  text-transform:uppercase !important;
}
.to-left{
  float:left !important;
}
.to-right{
  float:right !important;
}
a.link{
  cursor:pointer !important;
}
a.black-link{
  padding: 4px 8px;
}
a.black-link:link{
  color: #333333 !important;
}
a.black-link:visited,a.black-link:active{
  color: #666666 !important;
}
a.black-link:hover{
  color: #000000 !important
}
.logo-alianza{
  height:120px;
  margin:0 auto;
  padding:16px 0px;
  transition: all .5s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.logo-alianza:hover{
  transform: scale(1.3);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.modal,.modal-backdrop{
  position: fixed !important;
  top: 50px;
  z-index: 1100 !important;
}
.modal-dialog{
  z-index: 1110 !important;
  max-height: calc(100% - 80px);
}
.modal-header{
  max-height:40px;
}
.modal-content{
  padding-top: 0 !important;
  padding-bottom: 25px;
}
.carousel,.modal-body{
  max-height: calc(100% - 160px);
}
.block-scroll{
  overflow: hidden !important;
}
