<article class="grey-darken white-text animated fadeIn duration-1">
  <br>
  <h1>{{currentPage[site.languaje.current].title}}</h1>
  <br>
</article>
<section class="container">
  <h4>{{currentPage[site.languaje.current].branch.title}}</h4>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" ng-repeat="element in currentPage[site.languaje.current].branch.content" >
    <div class="thumbnail">
      <img class="img-rounded" ng-src="assets/media/fachadas/fachada{{$index}}.jpg">
      <div class="caption text-center">
        <h3>{{element.title}}</h3>
        <p>
          <h5>{{(site.languaje.current==="Español")?"Ubicación":"Ubication";}}</h5>
          <span ng-repeat="line in element.body">
            {{line}} <br>
          </span>
          <h5>{{(site.languaje.current==="Español")?"Telefono":"Phone";}}(s)</h5>
          <a ng-repeat="phone in element.phone" href="tel:{{phone}}" class="black-link" style="margin:4px 0px;">
            <b style="padding:4px 0px;"><i class="fa fa-phone"></i>: {{phone}}</b>
            <br>
          </a>
        </p>
        <p>
          <a href="http://maps.google.com/maps?q=loc:{{element.coord.join()}}" target="_blank" class="btn yellow black-text upper-text col-xs-6">
            <i class="fa fa-map"></i> <span> {{(site.languaje.current==="Español")?"Mapa":"Map";}}</span>
          </a>
          <button type="button" class="btn btn-default black-text upper-text col-xs-6" data-toggle="modal" data-target=".galeria" ng-click="setGalery(element.prefix)"><i class="fa fa-picture-o"></i> <span> {{(site.languaje.current==="Español")?"Galeria":"Galery";}}</span></button>
          <br>
        </p>
        <p ng-if="element.phone.length===1" class="col-xs-12">
          <br><br>
        </p>
      </div>
    </div>
  </div>
  <form class="form-horizontal" ng-submit="contact.send(contact.form)">
    <fieldset class="container">
      <legend>
        <h4>
          {{currentPage[site.languaje.current].title}}
        </h4>
      </legend>
      <div class="form-group">
        <label for="Nombre" class="col-sm-1 control-label">{{(site.languaje.current==="Español")?"Nombre":"Name";}}</label>
        <div class="col-sm-11">
          <input type="text" ng-model="contact.form.nombre" class="form-control" id="Nombre">
        </div>
      </div>
      <div class="form-group">
        <label for="Empresa" class="col-sm-1 control-label">{{(site.languaje.current==="Español")?"Empresa":"Company";}}</label>
        <div class="col-sm-11">
          <input type="text" ng-model="contact.form.empresa" class="form-control" id="Empresa">
        </div>
      </div>
      <div class="form-group">
        <label for="Email" class="col-sm-1 control-label">Email</label>
        <div class="col-sm-11">
          <input type="email" ng-model="contact.form.email" class="form-control" id="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="Telefono" class="col-sm-1 control-label">{{(site.languaje.current==="Español")?"Telefono":"Phone";}}</label>
        <div class="col-sm-11">
          <input type="text" ng-model="contact.form.telefono" class="form-control" id="Telefono">
        </div>
      </div>
      <div class="form-group">
        <label for="Asunto" class="col-sm-1 control-label">{{(site.languaje.current==="Español")?"Asunto":"Subject";}}</label>
        <div class="col-sm-11">
          <input type="text" ng-model="contact.form.asunto" class="form-control" id="Asunto">
        </div>
      </div>
      <div class="form-group">
        <label for="Mensaje" class="col-sm-1 control-label">{{(site.languaje.current==="Español")?"Mensaje":"Message";}}</label>
        <div class="col-sm-11">
          <textarea ng-model="contact.form.mensaje" class="form-control" id="Mensaje"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11 ">
          <div class="">
            <input type="checkbox" ng-model="contact.form.check" id="check">
            <label for="check">
               {{(site.languaje.current==="Español")?"Acepto Terminos Y Condiciones":"Accept Terms & Conditions";}}
            </label>
            <button type="submit" class="btn yellow black-text upper-text to-right">{{(site.languaje.current==="Español")?"Enviar":"Send";}}</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</section>
<!-- modal -->
<div class="modal fade galeria" tabindex="-1" role="dialog" aria-labelledby="Sucursal">
  <div class="modal-dialog" role="dialog">
    <article class="modal-content">
      <header class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
      </header>
      <div class="modal-body" id="ModalGalery">
        <div id="galeria" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img ng-src="/assets/media/sucursal/{{sucursal}}1.JPG" style="width:100%;height:auto;">
            </div>
            <div class="item" ng-repeat="i in [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">
              <img ng-src="/assets/media/sucursal/{{sucursal+i}}.JPG" style="width:100%;height:auto;">
            </div>
          </div>
          <a class="left carousel-control" ng-click="slideAction('prev')" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
            <span class="glyphicon" aria-hidden="true"><i class="fa fa-arrow-left"></i> </span>
          </a>
          <a class="right carousel-control" ng-click="slideAction('next')" role="button" data-slide="next">
            <span class="sr-only">Next</span>
            <span class="glyphicon" aria-hidden="true"><i class="fa fa-arrow-right"></i> </span>
          </a>
        </div>
      </div>
    </article>
  </div>
</div>
<!-- pie de pagina -->
<footer id="footer">
  <ul class="site-map main-color" id="social">
    <li class="hide-on-small-and-down">{{(site.languaje.current==="Español")?"Compartir":"Share";}}</li>
    <li><a class="hint--top" data-hint="FACEBOOK" href="{{'https://www.facebook.com/sharer/sharer.php?u='+location()}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a class="hint--top" data-hint="TWITTER" href="{{'https://twitter.com/?status='+location()}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a class="hint--top" data-hint="GOOGLE +" href="{{'https://plus.google.com/share?url='+location()}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    <li><a class="hint--top" data-hint="LINKEDIN" href="{{'http://www.linkedin.com/shareArticle?url='+location()}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a class="hint--top" data-hint="PINTEREST" href="{{'http://pinterest.com/pin/create/button/?url='+location()}}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
  </ul>
  <ul class="site-map">
    <li class="item logo">
      <img src="/assets/media/mti4.png" alt="mti flat logo" style="padding:0 12px;"/>
    </li>
    <li ng-repeat="branch in site.map[site.languaje.current]" class="item">
      <ul class="elements item">
        <li class="root">{{branch.description}}</li>
        <li class="node" ng-repeat="element in branch.list">
          <a href="{{element.link}}" class="link"><span><i class="fa fa-{{element.icon}} fa-fw" ng-if="element.icon"></i>&nbsp;</span>{{element.description}}</a>
        </li>
      </ul>
    </li>
  </ul>
  <small class="col-xs-12 white-text" style="text-align:center;">Copyright (c) 2016 Copyright Holder All Rights Reserved.</small>
  <br>
</footer>
