<div id="slider-text" class="flexible vertical content-center align-center is-spaced">
  <h2 class="white-text item grow-2">{{site.slides[site.languaje.current][slide.index].title}}</h2>
  <figure id="slider-logo" class="item grow-3">
    <img ng-src="assets/media/mti1.png" alt="Logo"/>
  </figure>
  <p id="slider-slogan" class="item grow-3">
    JUST <small>IN</small> <span class="white-text">TIME !</span>
  </p>
</div>
<article class="grey-darken white-text delay-2 animated fadeIn duration-1">
  <br>
  <h1>{{currentPage[site.languaje.current].title}}</h1>
  <br>
</article>
<section class=" container">
  <h2>{{(site.languaje.current==="Español")?"Principales Servicios":"Main Services"}}</h2>
  <div class="pricing">
    <ul class="row">
      <li class="price-warning col-xs-12 col-sm-6 col-lg-3" ng-repeat="content in currentPage[site.languaje.current].content">
        <div class="price-title">
          <h4 class="grey-darken-text"><i class="fa fa-{{content.icon}} fa-3x"></i></h4>
        </div>
        <div class="price-body">
          <h5>{{content.title}}</h5>
          <p>
            {{content.body | limitTo:75}}...
          </p>
        </div>
        <div class="price-foot">
          <a href="#/servicios/{{content.path}}"class="btn yellow black-text upper-text">
            <i class="fa fa-info-circle"></i> <span> {{(site.languaje.current==="Español")?"Información":"Information";}}</span>
          </a>
        </div>
      </li>
    </ul>
    <br>
    <a href="#/servicios" class="btn btn-lg btn-block link grey-darken">
        {{(site.languaje.current==="Español")?"Lista de Servicios":"Services List";}}
    </a>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ><h5>{{(site.languaje.current==="Español")?"Nuestras Alianzas":"Our Alliances";}}</h5></div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"  ng-repeat="alianza in currentPage.Alianzas">
      <a href="{{alianza.site}}" target="_blank"><img ng-src="/assets/media/alianzas/{{alianza.name}}.png" alt="{{alianza.name}}" class="logo-alianza img-responsive" /></a>
    </div>
  </div>
</section>
<article class="col-sm-12"></article>
<!-- pie de pagina -->
<footer id="footer">
  <ul class="site-map main-color" id="social">
    <li class="hide-on-small-and-down">{{(site.languaje.current==="Español")?"Compartir":"Share";}}</li>
    <li><a class="hint--top" data-hint="FACEBOOK" href="{{'https://www.facebook.com/sharer/sharer.php?u='+location()}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a class="hint--top" data-hint="TWITTER" href="{{'https://twitter.com/?status='+location()}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a class="hint--top" data-hint="GOOGLE +" href="{{'https://plus.google.com/share?url='+location()}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    <li><a class="hint--top" data-hint="LINKEDIN" href="{{'http://www.linkedin.com/shareArticle?url='+location()}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a class="hint--top" data-hint="PINTEREST" href="{{'http://pinterest.com/pin/create/button/?url='+location()}}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
  </ul>
  <ul class="site-map">
    <li class="item logo">
      <img src="/assets/media/mti4.png" alt="mti flat logo" style="padding:0 12px;"/>
    </li>
    <li ng-repeat="branch in site.map[site.languaje.current]" class="item">
      <ul class="elements item">
        <li class="root">{{branch.description}}</li>
        <li class="node" ng-repeat="element in branch.list">
          <a href="{{element.link}}" class="link"><span><i class="fa fa-{{element.icon}} fa-fw" ng-if="element.icon"></i>&nbsp;</span>{{element.description}}</a>
        </li>
      </ul>
    </li>
  </ul>
  <small class="col-xs-12 white-text" style="text-align:center;">Copyright (c) 2016 Copyright Holder All Rights Reserved.</small>
  <br>
</footer>
