<article class="grey-darken white-text delay-2 animated fadeIn duration-1">
  <br>
  <h1>{{currentPage[site.languaje.current].title}}</h1>
  <br>
</article>
<section >
  <p ng-repeat="content in currentPage[site.languaje.current].content">
    {{content}}
  </p>
  <ol ng-if="currentPage[site.languaje.current].list">
    <li ng-repeat="element in currentPage[site.languaje.current].list">
       <p>
         {{element}}
       </p>
    </li>
  </ol>
  <p ng-if="currentPage[site.languaje.current].footer">
    <span ng-repeat="element in currentPage[site.languaje.current].footer">{{element}}</span>
  </p>
  <article class="row" ng-if="currentPage.slides">
    <h4>{{(site.languaje.current==="Español")?"Proceso":"Process"}}</h4>
    <div id="serviceSlide" class="carousel slide col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" ng-repeat="point in currentPage.slides" data-slide-to="{{$index+1}}"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" style="border:1px solid #888;" role="listbox">
        <div class="item active">
          <img src="/assets/media/mti_volumen.svg" style="width:75%;heigth:auto;margin:0 auto;">
        </div>
        <div class="item" ng-repeat="slide in currentPage.slides">
          <img ng-src="/assets/media/{{slide}}" style="width:100%;heigth:auto;">
        </div>
        <a class="left carousel-control" ng-click="slideAction('prev')" role="button" data-slide="prev">
          <span aria-hidden="true"><i class="fa fa-arrow-left fa-2x"></i> </span>
        </a>
        <a class="right carousel-control" ng-click="slideAction('next')" role="button" data-slide="next">
          <span aria-hidden="true"><i class="fa fa-arrow-right fa-2x"></i> </span>
        </a>
      </div>
    </div>
  </article>
</section>
<!-- pie de pagina -->
<footer id="footer">
  <ul class="site-map main-color" id="social">
    <li class="hide-on-small-and-down">{{(site.languaje.current==="Español")?"Compartir":"Share";}}</li>
    <li><a class="hint--top" data-hint="FACEBOOK" href="{{'https://www.facebook.com/sharer/sharer.php?u='+location()}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a class="hint--top" data-hint="TWITTER" href="{{'https://twitter.com/?status='+location()}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a class="hint--top" data-hint="GOOGLE +" href="{{'https://plus.google.com/share?url='+location()}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    <li><a class="hint--top" data-hint="LINKEDIN" href="{{'http://www.linkedin.com/shareArticle?url='+location()}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a class="hint--top" data-hint="PINTEREST" href="{{'http://pinterest.com/pin/create/button/?url='+location()}}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
  </ul>
  <ul class="site-map">
    <li class="item logo">
      <img src="/assets/media/mti4.png" alt="mti flat logo" style="padding:0 12px;"/>
    </li>
    <li ng-repeat="branch in site.map[site.languaje.current]" class="item">
      <ul class="elements item">
        <li class="root">{{branch.description}}</li>
        <li class="node" ng-repeat="element in branch.list">
          <a href="{{element.link}}" class="link"><span><i class="fa fa-{{element.icon}} fa-fw" ng-if="element.icon"></i>&nbsp;</span>{{element.description}}</a>
        </li>
      </ul>
    </li>
  </ul>
  <small class="col-xs-12 white-text" style="text-align:center;">Copyright (c) 2016 Copyright Holder All Rights Reserved.</small>
  <br>
</footer>
