<article class="grey-darken white-text delay-2 animated fadeIn duration-1">
  <br>
  <h1>{{currentPage[site.languaje.current].title}}</h1>
  <br>
</article>
<section>
  <p ng-repeat="content in currentPage[site.languaje.current].content">
    {{content}}
  </p>
  <section class="row">
    <ul class="elements col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <li ng-repeat="service in currentPage[site.languaje.current].list" class="">
        <a href="#/servicios/{{service.path}}" class="upper-text black-link">
          <b>
            <span class="fa-stack fa-lg yellow-text">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-{{service.icon}} fa-stack-1x black-text"></i>
            </span>
            <span>{{service.name}}</span>
          </b>
        </a>
      </li>
    </ul>
  </section>
</section>
<!-- pie de pagina -->
<footer id="footer">
  <ul class="site-map main-color" id="social">
    <li class="hide-on-small-and-down">{{(site.languaje.current==="Español")?"Compartir":"Share";}}</li>
    <li><a class="hint--top" data-hint="FACEBOOK" href="{{'https://www.facebook.com/sharer/sharer.php?u='+location()}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a class="hint--top" data-hint="TWITTER" href="{{'https://twitter.com/?status='+location()}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a class="hint--top" data-hint="GOOGLE +" href="{{'https://plus.google.com/share?url='+location()}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    <li><a class="hint--top" data-hint="LINKEDIN" href="{{'http://www.linkedin.com/shareArticle?url='+location()}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a class="hint--top" data-hint="PINTEREST" href="{{'http://pinterest.com/pin/create/button/?url='+location()}}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
  </ul>
  <ul class="site-map">
    <li class="item logo">
      <img src="/assets/media/mti4.png" alt="mti flat logo" style="padding:0 12px;"/>
    </li>
    <li ng-repeat="branch in site.map[site.languaje.current]" class="item">
      <ul class="elements item">
        <li class="root">{{branch.description}}</li>
        <li class="node" ng-repeat="element in branch.list">
          <a href="{{element.link}}" class="link"><span><i class="fa fa-{{element.icon}} fa-fw" ng-if="element.icon"></i>&nbsp;</span>{{element.description}}</a>
        </li>
      </ul>
    </li>
  </ul>
  <small class="col-xs-12 white-text" style="text-align:center;">Copyright (c) 2016 Copyright Holder All Rights Reserved.</small>
  <br>
</footer>
